.mainContainer {
  width: 1440px;
  margin: 0 auto;

  padding: 64px;
  display: flex;
  flex-direction: column;
  gap: 88px;
  /* align-items: center; */
}

.topSection {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.іmageThumbnails {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.іmageWrapper {
  width: 638px;
  height: 505px;
  border-radius: 16px;
}

.thumbnailsContainer {
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.originalImage,
.thumbnailImage {
  border-radius: 16px;
  /* Прибираємо нижній проміжок картинок для всього проєкту */
  display: block;
  /* Для того, щоб зображення, для якого явно не задано ширину, 
  автоматично підлаштовувалося під ширину батьківського елемента */
  width: 100%;
}

.thumbnailImage {
  outline: 3px solid var(--color-grey-green);
  width: 136px;
  height: 144px;
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-inputs);
  gap: 16px;
}

.headerDescription {
  padding: 24px;
  /* display: flex;
  flex-direction: column;
  gap: 16px; */
}
