/* Mobile styles */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: #faf3e0;
  padding: 56px 24px 32px;
  border-radius: 32px;
  width: calc(100% - 32px);
  max-width: 362px;
  position: relative;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 32px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  transition: color 0.2s ease;
}

.closeIcon {
  stroke: currentColor;
  fill: none;
  stroke-width: 2px;
}

.closeBtn:hover,
.closeBtn:focus {
  opacity: 0.5;
}

.closeBtn:active {
  opacity: 1;
  border-bottom: 1px solid black;
}
/* Tablet and Desktop styles */

@media (min-width: 768px) {
  .modal {
    width: 420px;
    max-width: 420px;
    padding: 56px 32px 32px;
  }
}
